


.paa{
  background-color: rgba(143, 247, 247, 0.204);
 border-radius: 10px;
}
.maa{
 
  border-radius: 10px;
   background-color: rgba(243, 126, 225, 0.192);
}

.war{

  border-radius: 10px;
   background-color: rgba(237, 63, 10, 0.577);
}
h1{
  text-align: center;
}
