
    <h2>Student Admission Form</h2>
  
    <div  [formGroup]="studentForm" class="p-3 W-50">
      <!-- Name -->
      <div class="w-50 p-2 border m-auto bg-light">
        <h1>Student Information</h1>
      <div formGroupName="name" class="d-flex justify-content-around w-100">
        <div>
          <label class="form-label" for="firstName">First Name:</label>
          <input class="form-control" type="text" id="firstName"  formControlName="firstName" >
         <small *ngIf="firstName && firstName.touched && firstName.invalid" class="text-danger">
*First Name Required   
         </small>
         
        </div>
  
        <div>
          <label class="form-label" for="middleName">Middle Name:</label>
          <input class="form-control" type="text" id="middleName"  formControlName="middleName">
          <small *ngIf="middleName && middleName .touched && middleName .invalid" class="text-danger">
            *Middle Name Required
                     </small>
        </div>
  
        <div>
          <label class="form-label" for="lastName">Last Name:</label>
          
        <input class="form-control" type="text" id="lastName"  formControlName="lastName" >
        <small *ngIf="lastName&& lastName.touched && lastName.invalid" class="text-danger">
          *Last Name Required
                   </small>  
      </div>
      </div>

      <div>
        <label class="form-label" for="dob">Date of Birth:</label>
        <input class="form-control" type="date" id="dob"  formControlName="dob" >
        <small *ngIf="dob&& dob.touched && dob.invalid" class="text-danger">
          *please choose date
                   </small> 
      </div>
  
      <!-- Place of Birth -->
      <div>
        <label class="form-label" for="placeOfBirth">Place of Birth:</label>
        <input class="form-control" type="text" id="placeOfBirth"  formControlName="placeOfBirth" >
        <small *ngIf="placeOfBirth && placeOfBirth.invalid && placeOfBirth.touched" class="text-danger">
         * Require place  of Birth 
        </small>
      </div>
  
      <!-- First Language -->
      <div>
        <label class="form-label" for="firstLanguage">First Language:</label>
        <input class="form-control" type="text" id="firstLanguage"  formControlName="firstLanguage" >
        <small *ngIf="firstLanguage&& firstLanguage.invalid && firstLanguage.touched" class="text-danger">
          * please enter first language 
         </small>
      </div>
  
      <!-- Address -->
      <div formGroupName="address" class="d-flex ">
        <div>
          <label class="form-label" for="city">City:</label>
          <input class="form-control" type="text" id="city"  formControlName="city" >
          <small *ngIf="city && city.invalid && city.touched" class="text-danger">
            * Require name of City
           </small>
        </div>
  
        <div>
          <label class="form-label" for="state">State:</label>
          
          <input class="form-control" type="text" id="state"  formControlName="state" >
          <small *ngIf="state && state.invalid && state.touched" class="text-danger">
            * Require name of state 
           </small>
        </div>
  
        <div>
          <label class="form-label" for="country">Country:</label>
          <input class="form-control" type="text" id="country"  formControlName="country" >
          <small *ngIf="country&& country.invalid && country.touched" class="text-danger">
            * Require name of country 
           </small>
        </div>
  
        <div>
          <label class="form-label" for="pin">Pin:</label>
          <input class="form-control" type="text" id="pin"  formControlName="pin" >
          <div *ngIf="pin && pin .invalid && (pin .touched|| pin.dirty)" class="text-danger">
            <div *ngIf="pin.errors?.['required']">

              * Require name of pin  
            </div>
            <div *ngIf="pin.errors?.['pattern']">

              * enter number only  
            </div>
           </div>
        </div>
      </div>
    </div>
  <div class="d-flex ">
   
      <div formGroupName="father" class="w-50 p-2 m-2 border paa">
        <h1>Father Information</h1>
        <div>
          <label class="form-label" for="fatherFullName">Full Name:</label>
          <input class="form-control" type="text" id="fatherFullName"  formControlName="fullName" >
          <small *ngIf="fname && fname .invalid && fname .touched" class="text-danger">
            * enter father name 
           </small>
        </div>
  
        <div>
          <label class="form-label" for="fatherEmail">Email:</label>
          <input class="form-control" type="email" id="fatherEmail"  formControlName="email" >
          <small *ngIf="femail && femail .invalid && femail .touched" class="text-danger">
            * enter father email 
           </small>
        </div>
  
        <div>
          <label class="form-label" for="fatherEducation">Education Qualification:</label>
          <input class="form-control" type="text" id="fatherEducation"  formControlName="educationQualification" >
          <small *ngIf="feducationQualification && feducationQualification .invalid && feducationQualification .touched" class="text-danger">
            * enter father education Qualification 
           </small>
        </div>
  
        <div>
          <label class="form-label" for="fatherProfession">Profession:</label>
          
          <input class="form-control" type="text" id="fatherProfession"  formControlName="profession" >
          <small *ngIf="fprofession && fprofession .invalid && fprofession .touched" class="text-danger">
            * enter father profession
           </small>
        </div>
  
        <div>
          <label class="form-label" for="fatherDesignation">Designation:</label>
          <input class="form-control" type="text" id="fatherDesignation"  formControlName="designation" >
          <small *ngIf="fdesignation && fdesignation .invalid && fdesignation .touched" class="text-danger">
            * enter father designation
           </small>
        </div>
  
        <div>
          <label class="form-label" for="fatherPhone">Phone:</label>
          <input class="form-control" type="text" id="fatherPhone"  formControlName="phone" >
          <small *ngIf="fphone && fphone .invalid && fphone .touched" class="text-danger">
            * enter father phone number
           </small>
        </div>
      </div>
      

      
  
      <div formGroupName="mother" class="w-50 p-2 m-2 border maa">
        <h1>Father Information</h1>
        <div>
          <label class="form-label" for="motherFullName">Full Name:</label>
          <input class="form-control" type="text" id="motherFullName"  formControlName="fullName" >
          <small *ngIf="mname && mname .invalid && mname .touched" class="text-danger">
            * enter Mother name 
           </small>
        </div>
  
        <div>
          <label class="form-label" for="motherEmail">Email:</label>
          
          <input class="form-control" type="email" id="motherEmail"  formControlName="email" >
          <small *ngIf="memail && memail .invalid && memail .touched" class="text-danger">
            * enter mother email 
           </small>
        </div>
  
        <div>
          <label class="form-label" for="motherEducation">Education Qualification:</label>
          <input class="form-control" type="text" id="motherEducation"  formControlName="educationQualification" >
          <small *ngIf="meducationQualification && meducationQualification .invalid && meducationQualification .touched" class="text-danger">
            * enter Mother education Qualification 
           </small>
        </div>
  
        <div>
          <label class="form-label" for="motherProfession">Profession:</label>
          <input class="form-control" type="text" id="motherProfession"  formControlName="profession" >
          <small *ngIf="mprofession && mprofession .invalid && mprofession .touched" class="text-danger">
            * enter Mother profession
           </small>
        </div>
  
        <div>
          <label class="form-label" for="motherDesignation">Designation:</label>
          <input class="form-control" type="text" id="motherDesignation"  formControlName="designation" >
          <small *ngIf="mdesignation && mdesignation .invalid && mdesignation .touched" class="text-danger">
            * enter Mother signation
           </small>
        </div>
  
        <div>
          <label class="form-label" for="motherPhone">Phone:</label>
          <input class="form-control" type="text" id="motherPhone"  formControlName="phone" >
          <small *ngIf="mphone && mphone .invalid && mphone .touched" class="text-danger">
            * enter Mother phone number
           </small>
        </div>
      </div>
    
    
    </div>
      <div class="war p-2 mt-5 w-50 m-auto ">
          <h3>Emergency Contact</h3>

   
      <div formArrayName="emergencyContacts"  *ngFor="let item of emergencyContacts.controls;let i=index">
          <div [formGroupName]="i" class="d-flex justify-content-between">
<div>
              <label class="form-label">Relation</label>
<select formControlName="relation" class="form-select form-select-lg mb-3">
  <option [selected]="true">--select Relation-- </option>
  <option value="Brother">Brother</option>
  <option value="Sister">Sister</option>
  <option value="Uncle">Uncle</option>
  <option value="Aunt">Aunt</option>
  <option value="Grandfather	">Grandfather	</option>
</select>
</div>
<div>
              <label class="form-label">Contact No</label>
              <input type="text" class="form-control" formControlName="number">
          </div>
        </div>
          <hr>
        </div>
        <button  (click)="addEem()" class="btn btn-success  w-100 mt-5">Add More</button>
    </div>
      <button  (click)="onSubmit()" class="btn btn-primary  w-100 mt-5" [disabled]="studentForm.valid">Submit</button>

    </div>
  


    <app-table [array1]="dataArray"></app-table>