
    <h2>Student Admission Form</h2>
  
    <div  [formGroup]="studentForm" class="w-50 m-auto p-2 bg-light">
      <!-- Name -->
      <div formGroupName="name">
        <div>
          <label class="form-label" for="firstName">First Name:</label>
          <input class="form-control" type="text" id="firstName" required formControlName="firstName" >
          <!-- <div *ngIf="name.firstName.touched && name.firstName.invalid" class="alert alert-danger">
            <div *ngIf="name.firstName.errors?.required">firstName. is required.</div>
        </div> -->
        </div>
  
        <div>
          <label class="form-label" for="middleName">Middle Name:</label>
          <input class="form-control" type="text" id="middleName" required formControlName="middleName">
        </div>
  
        <div>
          <label class="form-label" for="lastName">Last Name:</label>
          <input class="form-control" type="text" id="lastName" required formControlName="lastName" >
        </div>
      </div>

      <div>
        <label class="form-label" for="dob">Date of Birth:</label>
        <input class="form-control" type="date" id="dob" required formControlName="dob" >
      </div>
  
      <!-- Place of Birth -->
      <div>
        <label class="form-label" for="placeOfBirth">Place of Birth:</label>
        <input class="form-control" type="text" id="placeOfBirth" required formControlName="placeOfBirth" >
        <small *ngIf="placeOfBirth && placeOfBirth.invalid" class="text-danger">
         * Place of Birth not proper
        </small>
      </div>
  
      <!-- First Language -->
      <div>
        <label class="form-label" for="firstLanguage">First Language:</label>
        <input class="form-control" type="text" id="firstLanguage" required formControlName="firstLanguage" >
      </div>
  
      <!-- Address -->
      <div formGroupName="address">
        <div>
          <label class="form-label" for="city">City:</label>
          <input class="form-control" type="text" id="city" required formControlName="city" >
        </div>
  
        <div>
          <label class="form-label" for="state">State:</label>
          <input class="form-control" type="text" id="state" required formControlName="state" >
        </div>
  
        <div>
          <label class="form-label" for="country">Country:</label>
          <input class="form-control" type="text" id="country" required formControlName="country" >
        </div>
  
        <div>
          <label class="form-label" for="pin">Pin:</label>
          <input class="form-control" type="text" id="pin" required formControlName="pin" >
        </div>
      </div>
  
      <!-- Father's Information -->
      <h3>Father's Information</h3>
  
      <div formGroupName="father">
        <div>
          <label class="form-label" for="fatherFullName">Full Name:</label>
          <input class="form-control" type="text" id="fatherFullName" required formControlName="fullName" >
        </div>
  
        <div>
          <label class="form-label" for="fatherEmail">Email:</label>
          <input class="form-control" type="email" id="fatherEmail" required formControlName="email" >
        </div>
  
        <div>
          <label class="form-label" for="fatherEducation">Education Qualification:</label>
          <input class="form-control" type="text" id="fatherEducation" required formControlName="educationQualification" >
        </div>
  
        <div>
          <label class="form-label" for="fatherProfession">Profession:</label>
          <input class="form-control" type="text" id="fatherProfession" required formControlName="profession" >
        </div>
  
        <div>
          <label class="form-label" for="fatherDesignation">Designation:</label>
          <input class="form-control" type="text" id="fatherDesignation" required formControlName="designation" >
        </div>
  
        <div>
          <label class="form-label" for="fatherPhone">Phone:</label>
          <input class="form-control" type="text" id="fatherPhone" required formControlName="phone" >
        </div>
      </div>
      

      <h3>mother's Information</h3>
  
      <div formGroupName="mother">
        <div>
          <label class="form-label" for="motherFullName">Full Name:</label>
          <input class="form-control" type="text" id="motherFullName" required formControlName="fullName" >
       
        </div>
  
        <div>
          <label class="form-label" for="motherEmail">Email:</label>
          <input class="form-control" type="email" id="motherEmail" required formControlName="email" >
        </div>
  
        <div>
          <label class="form-label" for="motherEducation">Education Qualification:</label>
          <input class="form-control" type="text" id="motherEducation" required formControlName="educationQualification" >
        </div>
  
        <div>
          <label class="form-label" for="motherProfession">Profession:</label>
          <input class="form-control" type="text" id="motherProfession" required formControlName="profession" >
        </div>
  
        <div>
          <label class="form-label" for="motherDesignation">Designation:</label>
          <input class="form-control" type="text" id="motherDesignation" required formControlName="designation" >
        </div>
  
        <div>
          <label class="form-label" for="motherPhone">Phone:</label>
          <input class="form-control" type="text" id="motherPhone" required formControlName="phone" >
        </div>
      </div>
      <div class="bg-warning p-2 mt-5">
          <h3>Emergency Contact</h3>

   
      <div formArrayName="emergencyContacts"  *ngFor="let item of emergencyContacts.controls;let i=index">
          <div [formGroupName]="i" class="d-flex justify-content-around">

              <label class="form-label">Relation</label>
<select formControlName="relation" class="form-select form-select-lg mb-3">
  <option value="Brother">Brother</option>
  <option value="Sister">Sister</option>
  <option value="Uncle">Uncle</option>
  <option value="Aunt">Aunt</option>
  <option value="Grandfather	">Grandfather	</option>
</select>
              <label class="form-label">Contact No</label>
              <input type="text" class="form-control" formControlName="number">
          </div>
          <hr>
        </div>
        <button  (click)="addEem()" class="btn btn-success  w-100 mt-5">Add More</button>
    </div>
      <button  (click)="onSubmit()" class="btn btn-primary  w-100 mt-5" [disabled]="studentForm.invalid">Submit</button>

    </div>
  